:root{
    --color-corp: #D0102E;
    --color-blue: #0EA5E9
}
body{
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
}

/*utils*/
.h-100vh{
    height: 100vh;
}
.text-corp{
    color: var(--color-corp);
}
.text-blue{
    color: var(--color-blue);
}
.text-dirty-blue{
    color: #426376;
}
.text-rain{
    color: #AEAEAE;
}
.text-rain-2{
    color: #D3D3D3;
}
.text-green{
    color: #25B833;
}
.bg-light{
    background:#F9F9F9;
}
.bg-corp{
    background: var(--color-corp);
}
.bg-deep-blue{
    background: #4A7CFF;
}
.color-online{
    color: #05FF00;
}
.w-lg-40{
    width: 40%;
}
.w-lg-50{
    width: 50%;
}
.w-fit-content{
    width: fit-content;
}
.max-h-80vh {
    max-height: 80vh;
}
.max-h-60vh {
    max-height: 60vh;
}
.overflow-y-scroll{
    overflow-y: scroll;
}
.shadow-box{
    box-shadow: 0 0 30px 0 rgba(159, 159, 159, 0.25);
}
.bg-light-lg{
    background: #F6F6F6;
}
.bg-lg-white{
    background: white;
}
.center-position{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*ui kit*/
a{
    color: inherit;
    text-decoration: none;
}
.btn{
    font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
    border-radius: 50px;
    transition: all 0.3s ease;
}
.btn-corp{
    background: var(--color-corp);
    color: white;
}
.btn-blue{
    background: var(--color-blue);
    color: white;
}
.btn-corp:hover{
    background: white;
    color: var(--color-corp);
}
.btn-blue:hover{
    color: var(--color-blue);
    background: white;
    outline: 1px solid var(--color-blue);
}
.navbar-toggler-icon {
    background-image: url('/icons/burger.svg');
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
/*typography*/
.fs-title{
    font-size: clamp(0.875rem, 0.525rem + 1.75vw, 2.625rem);
}
.fs-paragraph{
    font-size: clamp(0.875rem, 0.7rem + 0.875vw, 1.75rem);
}
.fs-paragraph-2{
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}
.fs-span{
    font-size: clamp(0.875rem, 0.775rem + 0.5vw, 1.375rem);
}
.fs-span-2{
    font-size: clamp(0.8125rem, 0.75rem + 0.3125vw, 1.125rem);
}
/*main styles*/
.info-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.form-control{
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #323232;
    color: #323232;
    padding-left: 0;
    padding-bottom: 20px;
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}
.text-white .form-control{
    border-bottom: 2px solid white;
    color: white;
}

.text-white .form-control::placeholder{
    color: white;
    font-size: clamp(1rem, 0.775rem + 1.125vw, 2.125rem);
}
.form-control::placeholder{
    color: #323232;
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
}
.form-control:focus {
    background-color: transparent;
    border-color: unset;
    box-shadow: none;
}
.text-white .form-control:focus {
    color: white;
}

.form-check-input:checked {
    background-color: var(--color-corp);
    border-color: var(--color-corp);
}
.form-check-input:focus {
    border-color: none;
    box-shadow: none;
}
.form-check-input[type="checkbox"] {
    border-radius: 0.15em;
}
.form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.79917 0.328613L2.54548 6.10484L1.02022 4.94677H0.172852L2.54548 8.8023L8.64654 0.328613H7.79917Z' fill='white'/%3E%3C/svg%3E");
  background-size: 65% auto;
}
.select-control{
    border: 1px solid #666666;
    opacity: 0.7;
    padding: 5px 10px;
}
.dropdown-menu[data-bs-popper] {
    right: 0;
    left: unset;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    box-shadow: 0 4px 30px 5px rgba(159, 159, 159, 0.25);
    border: none;
    border-radius: 20px;
    width: 300px;
}
.avatar{
    width: 35px;
    height: 35px;
}
.navbar-collapse{
    transition: all 0.3s ease;
}
.navbar-collapse.collapse.show{
    background: var(--color-corp);
}
.search .select-control{
    border: none;
    border-radius: 50px;
    background: white;
    color: #9F9F9F;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 100%;
}
.select-control-box{
    position: relative;
}
.select-control-box::after {
    display: inline-block;
    border: none;
    content: "\F282";
    font-family: 'bootstrap-icons';
    font-size: 1rem;
    vertical-align: middle;
    top: 60%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 2;
    position: absolute;
}
.pagination{
    --bs-pagination-border-color: unset;
    background: #F9F9F9;
    --bs-pagination-bg: #F9F9F9;
    --bs-pagination-color: #9F9F9F;
    --bs-pagination-font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 50px;
    align-items: center;
}
.page-link{
    padding: 5px 20px;
}
.active>.page-link, .page-link.active {
    color: white;
    background-color: var(--color-blue);
    border-color: unset;
    border-radius: 15px;
}
.avatar-height{
    height: 300px;
}
.avatar-height-2{
    height: 360px;
}
/*wizard*/
.wizard-container {
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}
.wizard-nav {
    position: relative;
    margin-bottom: 40px;
}
.connecting-line {
    height: 2px;
    background: var(--color-corp);
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    right: 0;
    z-index: 1;
}
.nav-tabs {
    border-bottom: none;
    position: relative;
    z-index: 2;
    justify-content: space-between;
}
.nav-link {
    padding: 0;
    border: none !important;
    position: relative;
    background: transparent;
}
.step-indicator {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background: white;
    border: 2px solid var(--color-corp);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #555;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--color-corp);
    background-color: unset;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-link.active .step-indicator {
    border-color: var(--color-corp);
    background: var(--color-corp);
}
.nav-link.active .step-indicator i {
    color: white;
}
.nav-link.completed .step-indicator {
    border-color: var(--color-corp);
            
}
.nav-link.completed .step-indicator i {
    color: black;
}
.tab-content {
    position: relative;
    min-height: 300px;
}
.tab-pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}
.tab-pane.active {
    position: relative;
    opacity: 1;
    pointer-events: auto;
}
.step-actions {
    margin-top: 30px;
}
.step-title {
    display: block;
    margin-top: 10px;
}

.tagify {
    --tag-border-radius: 50px;
    --tag-bg: var(--color-corp);
    --tag-pad: 0.3em 0.5em;
    --tags-border-color: unset;
}
.tagify__tag-text {
    color: white;
}

.tagify__tag__removeBtn {
    color: white;
    margin-left: 6px;
}
.upload-label {
    display: inline-block;
    background-color: #c8102e;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
}

.upload-label input {
    display: none;
}
.nav-link {
    color: #606060;
}
.animation-scale{
    transition: all 0.3s ease;
}
.animation-scale:hover{
    transform: scale(1.5);
}
.table, 
  .table th, 
  .table td {
    border: none !important;
  }

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.modal.show .modal-dialog.modal-cancel {
    top: 50%;
    transform: translateY(-50%);
}
.btn-close {
    --bs-btn-close-bg: unset;
    --bs-btn-close-opacity: unset;
    background: var(--color-corp);
    border-radius: 50%;

}
#chat .btn-close {
    background: var(--color-blue);
}
.btn-close-container{
    top: -5%;
    right: 0;
}
.btn-close:focus {
    outline: 0;
    box-shadow: unset;
    opacity: unset;
}
.border-bottom-light{
    border-bottom: 2px solid #E8E8E8;
}
.border-top-light{
    border-top: 2px solid #E8E8E8;
}
@media (min-width: 576px) {
    #chat .modal-dialog {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
    }
}
.modal.show .modal-dialog {
    transform: none;
}
.search-input{
    width: 100%;
    border: none;
    border-radius: 50px;
    padding: 10px 35px;
}
.search-input::placeholder{
    color: #AEAEAE;
}
.search-icon{
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.img-chat{
    width: 55px;
    height: 55px;
}
.border-element::after, .border-element::before{
    position: absolute;
    content: '';
    height: 2px;
    background: #E8E8E8;
    width: 40%;
    top: 50%;
    transform: translateY(-50%);
}
.border-element::before{
    left : 5%;
}
.border-element::after{
    right : 5%;
}
.input-message{
    padding: 15px 25px;
    width: 100%;
    border-radius: 50px;
    border: none;
    background: #F9F9F9;
}
.btn-send{
    background: #4A7CFF;
    position: absolute;
    height: 100%;
    border: 0;
    border-radius: 50%;
    padding: 0 17px;
    right: 0;
}
.smile-icon-chat{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8%;
}
/*breackpoints*/
@media (min-width: 1650px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1550px;
    }
}
@media(max-width: 990px){
    .info-box{
        position: static;
        top: unset;
        transform: unset;
    }
    .mobile-bg{
        background: url('/images/login-registration-page/bg.png') center / cover no-repeat fixed;
        min-height: 100vh;
    }
    .nav-link{
        color: white;
        font-size: 22px;
        font-weight: bold;
        width: fit-content;
    }
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: white;
    }
    .rounded-pill.bg-danger{
        background: white !important;
        color: #0EA5E9;
    }
    .badge{
        font-size: 12px;
    }
    .text-sm-white{
        color: white;
    }
    .pt-sm-custom{
        padding-top: 100px !important;
    }
    .w-lg-40, .w-lg-50{
    width: 100%;
    }
    .step-title {
        display: none !important;
    }
}
@media(max-width: 768px){
    .form-control{
    padding-bottom: 10px;
    }
    .pagination{
    padding: 5px 10px;
    border-radius: 50px;
    align-items: center;
    --bs-pagination-font-size: 1.2rem;
    }
    .page-link{
        padding: 3px 15px;
    }
    .fs-large .fs-paragraph,.fs-large .fs-title {
        font-size: 24px;
    }
    .fs-large .fs-span-2 {
        font-size: 20px;
    }

}
@media(max-width: 576px){
    .avatar-height{
    height: 400px;
    }
    .step-indicator {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    .wizard-container {
        padding: 5px;
    }
    .chat-avatar{
        width: 50px;
        height: 50px;
    }
}
@media(max-width: 360px){
    .select-control{
        padding: 3px 5px;
    }
}